body {
  margin: 40px 1em;
  box-sizing: border-box;
  display: flex;
}

.header {
  font: normal 800 29px Arial;
  color: #333;
  padding: 15px;
  margin: 0 5px;
}

.mini-title {
  flex-basis: 33%;
  padding: 10px;
  font: normal 600 19px arial;
  margin-left: 10px;
}

#m-title {
  margin-left: 3em;
}

.select-value {
  flex-basis: 33%;
  padding: 16px;
  font: normal 600 17px arial;
  cursor: pointer;
  background-color: white;
  margin: 10px 20px;
}

select,
input {
  border: 2px solid rgba(139, 134, 243, 0.349);
  outline: none;
}
select:hover,
input:hover {
  border-color: rgb(105, 100, 216);
}

select:focus,
input:focus {
  border: 2px solid rgb(105, 100, 216);
}

#nd-select {
  margin-left: 3em;
}

#d-select {
  margin-left: 3.6em;
  margin-top: 0;
}

.div-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 5px 0;
  align-items: baseline;
}

#amount-input {
  padding: 10px;
  padding-left: 2em;
  font-size: 19px;
  margin-left: 6.3em;
  width: 7.8em;
}
.input-euro {
  position: relative;
  flex-basis: 30%;
  align-self: center;
}
.input-euro.left input {
  padding-left: 18px;
}

.input-euro:before {
  position: absolute;
  font-size: 19px;
  top: 12px;
  content: "€";
}
.input-euro.left:before {
  left: 7.2em;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.range {
  margin: 10px;
  padding: 10px;
  width: 75%;
}

a {
  color: rgb(0, 200, 143);
  font: normal bold 17px arial;
  text-decoration: none;
  cursor: pointer;
  margin-right: 15px;
}

a:hover {
  color: #079c77;
}

#footer {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.submit-button {
  padding: 15px;
  width: 235px;
  border-radius: 24px;
  background-color: rgb(105, 100, 216);
  border: none;
  transition: 0.3s;
  margin-right: 8em;
}

.submit-button:hover {
  background-color: rgb(63, 58, 155);
  cursor: pointer;
}

#button-text {
  font: normal 800 17px lato;
  color: white;
}

.interest-container {
  display: flex;
  justify-content: flex-start;
  margin: 0 10px;
}

#interest-title {
  flex-basis: 4%;
  padding: 10px;
  font: normal 600 19px/100% arial;
}

#interest {
  align-self: center;
  font: normal 600 19px/100% arial;
  color: rgb(63, 58, 155);
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  border-radius: 8px;
  height: 5px;
  border: 1px solid #bdc3c7;
  background-color: #bdc3c7;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: rgb(248, 244, 244);
  width: 21px;
  height: 21px;
  border-radius: 10px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:active {
  background-color: rgb(63, 58, 155);
}

#contact {
  text-align: center;
  font-size: 17px;
  width: 75%;
  margin-left: 20px;
}
